p { color: #bbc3c8; font-family: 'Verdana', sans-serif; font-size: 16px; line-height: 26px; margin: 0; }

a {
  -webkit-transition: text-shadow 0.7s, color 0.8s;
}

a:hover {
  text-shadow: 0 0 6px white, 0 0 52px white;
  color: white;
  text-decoration: none;
}

.josh-background {
    background-image: url("../assets/car.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    min-height: 1200px;
    width: 100%;
    position: fixed;
    z-index: -999999;
    top: 0px;
}

.josh-navbar {
  margin-bottom: 0px;
}

.section-header {
  color: #c9d0d4;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 0 40px;
  border-bottom: double #555;
}

.subsection-header {
  color: #c9d0d4;
  font-family: 'Droid serif', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}

.name-header {
  margin-left: 40px;
  font-size: 50px;
  font-family: cursive;
}

.home-description {
  width: 400px;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 24px 3px white;
}

.content-container {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 24px 3px black;
  margin: 5% auto 2%;
  width: 820px;
}

.project {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: dashed #bbc3c8 1px;
}

.content-body {
  color: white;
  margin: 16px;
  font-size: large;
}

.screenshot {
  width: 780px;
  margin-bottom: 20px;
}

.volume-screenshot {
  width: 200px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 62px;
}

.contact-link {
  margin-right: 20%;
}

.contact-link-container {
  margin-left: 10%;
}
